<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sustech.main_service.mapper.TopicMapper">

    <resultMap id="BaseResultMap" type="com.sustech.main_service.entity.Topic">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="user_id" column="user_id" jdbcType="CHAR"/>
            <result property="is_anonymous" column="is_anonymous" jdbcType="BOOLEAN"/>
            <result property="gmt_create" column="gmt_create" jdbcType="DATE"/>
            <result property="gmt_modified" column="gmt_modified" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,user_id,
        is_anonymous,gmt_create,gmt_modified
    </sql>

    <insert id="addTopic" parameterType="com.sustech.main_service.entity.Topic">
        INSERT INTO t_topic
        VALUES

    </insert>
</mapper>
